@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap);
body {
  margin: 0;
  padding: 0;
}

.parentDiv {
  width: 100%;
  background-color: #42668e;
  color: #f5f1e6;
  font-family: "Yantramanav", sans-serif;
}

.navi {
  grid-template-columns: 0.5fr auto auto 0.5fr;
  display: grid;
  text-align: center;
  padding: 1.25em;

  margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
  .navi {
    grid-template-columns: 0.5fr auto auto 0.5fr;
    display: grid;
    text-align: center;
    padding: 1.25em;
    margin-bottom: 0.5em;
    font-weight: 900;
  }
}
