@import url(https://fonts.googleapis.com/css?family=Poiret+One|Lobster|Anton|Shadows+Into+Light|Open+Sans|Roboto|Orbitron|Oswald|Raleway|Montserrat|Roboto+Slab|Indie+Flower|Fjalla+One|Bree+Serif|Pacifico|Abril+Fatface);
body {
  margin: 0;
  padding: 0;
}

.parentDiv {
  width: 100%;
  background-color: #42668e;
  color: #f5f1e6;
  font-family: "indie flower";
}

.navi {
  text-align: center;
  padding: 1.25em;
  margin-bottom: 0.5em;
}
